@media only screen and (max-width: 480px) {
    body {font-size: 15px;}
        .lbl-toggle {
        font-size: 0.8rem;
        padding: 1rem;
    }
    .section-artist img {
        height: 130px;
        margin-right: 15px;  
        margin-bottom: 60px;
        margin-left: 5px;
    }
    .section-artist a {
        font-size: 80%;
        padding-top: 60px;
    }
    .section-artist h2 {font-size: 110%;}
    .section-artist p {padding-bottom: 15px;}
    .map {
        height: 300px;
        margin-top: 30px;
    }
    .cell {width: 110px; padding-bottom: 10px;}
    .section-contact a {padding-top: 12px;}
    .contact {margin-bottom: 50px;}
    .section-contact {padding-bottom: 8px;}
    .contact ion-icon {
        height: 35px;
        width: 35px;
        float: left;
        margin-right: 10px;
    }
    .social-links {display: none;}
    .footer-nav {display: none;}
    footer {padding-top: 25px;}
    .final3 {padding-bottom: 30px;}
}