@media only screen and (max-width: 1023px) {
    body {font-size: 17px;}
    section {padding: 60px 0;}
    .logo {height: 110px;}
    .portfolio-photo img {height: 400px;}
    .steps-box:first-child {margin-top: 100px;}
    .section-artist img {height: 250px;}
    .section-artist p {font-size: 90%;}
    .location ion-icon {height: 45px;}
    .p1 {padding-top: 10px;}
    .p2 {padding-top: 20px;}
    .p3 {padding-top: 0px;}
    .location-box:first-child {padding-right: 3%;}
    .section-statements {height: 100vh;}
    blockquote {
        line-height: 130%;
        margin-top: 20px;
        font-size: 90%;
    }
    blockquote:before {font-size: 300%;}
    cite img {height: 40px;}
    cite {font-size: 100%;}
    .cell {width: 150px;}
    .contact-box:last-child {margin-top: 78px;}
    .contact ion-icon {height: 45px;}
}