/*--------------------------------------------------------------------------------------------*/
/* BIG TABLETS TO 1200PX: FROM 1024 TO 1200PX */
/*--------------------------------------------------------------------------------------------*/

@media only all and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }
    .row {padding: 0 2%;}
    blockquote {font-size: 85%;}
    .portfolio-photo img {height: 500px;}
}

/*--------------------------------------------------------------------------------------------*/
/* SMALL TABLETS TO BIG TABLETS: FROM 768 TO 1023PX */
/*--------------------------------------------------------------------------------------------*/

@media only all and (max-width: 1023px) {
    body {font-size: 17px;}
    section {padding: 60px 0;}
    .logo {height: 110px;}
    .portfolio-photo img {height: 400px;}
    .steps-box:first-child {margin-top: 100px;}
    .steps div {padding: 7px;}
    .section-artist img {height: 250px;}
    .section-artist p {font-size: 90%;}
    .location ion-icon {height: 45px;}
    .p1 {padding-top: 10px;}
    .p2 {padding-top: 20px;}
    .p3 {padding-top: 0px;}
    .location-box:first-child {padding-right: 3%;}
    .section-statements {height: 100vh;}
    blockquote {
        line-height: 130%;
        margin-top: 20px;
        font-size: 90%;
    }
    blockquote:before {font-size: 300%;}
    cite img {height: 40px;}
    cite {font-size: 100%;}
    .cell {width: 150px;}
    .contact-box:last-child {margin-top: 78px;}
    .contact ion-icon {height: 45px;}
}

/*--------------------------------------------------------------------------------------------*/
/* SMALL PHONES TO SMALL TABLETS: FROM 481 TO 767PX */
/*--------------------------------------------------------------------------------------------*/

@media only all and (max-width: 767px) {
    body {font-size: 18px;}
    section {padding: 30px 0;}
    .row, .hero-text-box {padding: 0 4%;}
    .col {
        width: 100%;
        margin: 0 0 4% 0;
    }
    .main-nav {display: none;}
    .mobile-nav-icon {display: inline-block;}
    .main-nav {
        float: left;
        margin-top: 25px;
        margin-left: 10px;
    }
    .main-nav li {display: block;}
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 8px 0;
        font-size: 100%;
    }
    .sticky .logo-black {
        margin-top: 12px;
    }
    .sticky .main-nav {margin-top: 5px; font-weight: 300;}
    .sticky .mobile-nav-icon ion-icon {color: #555;}
    .sticky .mobile-nav-icon {margin-top: 20px;}
    .mobile-nav-icon {display:inline-block;}
    .logo {height: 100px;}
    h1 {font-size: 180%;}
    h2 {font-size: 120%;}
    .portfolio-photo img {height: 250px;}
    .steps div {padding: 10px;}
    .steps {margin-bottom: 10%;}
    .steps-box:first-child {
        text-align: center;
        margin-top: 30px;
    }
    .steps-box:last-child {margin-top: 50px;}
    .steps div {padding: 6px;}
    .chat {width: 165px;}
    .section-artist img {
        height: 200px;
        margin-right: 30px;  
        margin-bottom: 80px;
        margin-left: 20px;
    }
    .section-artist h2 {padding-top: 90px;}
    .map {
        padding-right: 2%;
        margin-top: 40px;
        width: 100%;
    }
    .location-box:first-child {
        padding-right: 6%;
        margin-top: 40px;
        text-align: right;
    }
    .p1 {padding-top: 18px;}
    .p2 {padding-top: 20px;}
    .p3 {padding-top: 10px;}
    .section-statements {height: 120vh;}
    blockquote {
        line-height: 140%;
        margin-top: 20px;
        font-size: 85%;
    }
    blockquote:before {font-size: 300%;}
    cite img {height: 25px;}
    cite {font-size: 95%;}
    .cell {width: 130px;}
    .contact-box:first-child {
        text-align: center;
        padding-right: 0;
        padding-bottom: 10px;
    }
    .contact-box:last-child {margin-top: 5px;}
    .contact ion-icon {
        height: 40px;
        width: 40px;
        float: left;
        margin-right: 15px;
    }
    .contact {margin-bottom: 35px;}
    .section-contact {padding-bottom: 5px;}
    .footer-nav li a {font-size: 70%;}
    .footer-nav li {margin-right: 10px;}
    .social-link-1 {margin-right: 12px;}
    .social-link-2 {margin-right: 12px;}
    .social-link-3 {margin-right: 12px;}
    .social-links ion-icon {font-size: 20px;}
    footer {padding-top: 15px;}
    .footer-nav {padding-bottom: 20px;}
}

/*--------------------------------------------------------------------------------------------*/
/* SMALL PHONES: FROM 0 TO 480PX */
/*--------------------------------------------------------------------------------------------*/

@media only all and (max-width: 480px) {
    body {font-size: 15px;}
        .lbl-toggle {
        font-size: 0.8rem;
        padding: 1rem;
    }
    .section-artist img {
        height: 130px;
        margin-right: 15px;  
        margin-bottom: 60px;
        margin-left: 5px;
    }
    .section-artist h2 {
        font-size: 80%;
        padding-top: 60px;
        padding-bottom: 15px;
        font-size: 110%;
    }
    .map {
        height: 300px;
        margin-top: 30px;
    }
    .cell {width: 110px; padding-bottom: 10px;}
    .section-contact a {padding-top: 12px;}
    .contact {margin-bottom: 50px;}
    .section-contact {padding-bottom: 8px;}
    .contact ion-icon {
        height: 35px;
        width: 35px;
        float: left;
        margin-right: 10px;
    }
    .social-links {display: none;}
    .footer-nav {display: none;}
    footer {padding-top: 25px;}
    .final3 {padding-bottom: 30px;}
}