/*--------------------------------------------------------------------------------------------*/
/* BASIC SETUP */
/*--------------------------------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

div {
    width: 100%;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
/*--------------------------------------------------------------------------------------------*/
/* REUSABLE COMPONENTES */
/*--------------------------------------------------------------------------------------------*/

/*
font grey: #555
font dark grey: #242424
Pink: #FF006E
Darker pink: #bb0051
*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/*------HEADINGS------*/

h1,
h2,
h3 {
    text-transform: uppercase;
    color: #555;
}

h1 {
    font-weight: 200;
    margin: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 264%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-weight: 300;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    font-weight: 300;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 2px;
    width: 100px;
    background-color: #FF006E;
    content: " ";
    margin: 0 auto;
    margin-top: 30px;
}

/*------PARAGRAPHS------*/

.long-copy {
    line-height: 145%;
    text-align: center;
    margin-bottom: 10px;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/*------ICONS------*/

.row ion-icon {
    font-size: 270%;
    display: block;
    margin-bottom: 25px;
    color: #FF006E;
}

/*------BUTTONS------*/

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 20px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #FF006E;
    border: 1px solid #FF006E;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #FF006E;
    color: #FF006E;
}

.btn:hover,
.btn:active {
    background-color: #bb0051;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #bb0051;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #bb0051;
    color: #fff;
}

/*--------------------------------------------------------------------------------------------*/
/* HEADER */
/*--------------------------------------------------------------------------------------------*/

header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.70)), to(rgba(0, 0, 0, 0.70))), url(img/DSC_4478.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(img/DSC_4478.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -45%);
    transform: translate(-50%, -45%);
}

.logo {
    height: 110px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.logo-black {
    display: none;
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;
}

/*------MAIN-NAV------*/

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 6px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #FF006E;
}

/*------MOBILE-NAV------*/

.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon ion-icon {
    font-size: 200%;
    color: #fff;
}

/*------STICKY-NAV------*/

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    -webkit-box-shadow: 0 2px 2px #dedede;
    box-shadow: 0 2px 2px #dedede;
    z-index: 9999;
}

.sticky .main-nav {
    margin-top: 18px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 17px 0;
    color: #555;
}

.sticky .logo-black {
    display: block;
}

.sticky .logo {
    display: none;
}

/*--------------------------------------------------------------------------------------------*/
/* CORONA */
/*--------------------------------------------------------------------------------------------*/

.section-corona .row {
    background-color: #FF006E;
    padding: 30px 0 30px 0;
}

.section-corona .long-copy {
    font-size: 120%;
    padding-left: 80px;
    padding-right: 80px;
}

.section-corona h2,
.section-corona p {
    color: #fff;
    margin-bottom: 0px;
}

/*--------------------------------------------------------------------------------------------*/
/* FEATURES */
/*--------------------------------------------------------------------------------------------*/

.section-features .long-copy {
    margin-bottom: 30px;
}

/*--------------------------------------------------------------------------------------------*/
/* PORTFOLIO */
/*--------------------------------------------------------------------------------------------*/

.section-portfolio {
    margin-bottom: 25px;
}

.section-portfolio h2 {
    margin-bottom: 50px;
}

.wrap-collabsible {
    margin-bottom: 1.2rem 0;
}

input[type='checkbox'] {
    display: none;
}

.lbl-toggle {
    display: block;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1.3rem;
    color: #FF006E;
    background: #f4f4f4;
    cursor: pointer;
    border-radius: 7px;
    margin: 0 30%;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.lbl-toggle:hover {
    color: #bb0051;
}

.lbl-toggle:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: -webkit-transform 0.5s ease-out;
    transition: -webkit-transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
    transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.collapsible-content {
    max-height: 0px;
    overflow: hidden;
    -webkit-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 500vh;
}

.toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
    background-color: #000;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.portfolio-showcase {
    list-style: none;
    width: 100%;
}

.portfolio-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.portfolio-photo {
    background-color: #000;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.portfolio-photo img {
    opacity: 0.8;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
    height: 640px;
}

.portfolio-photo img:hover {
    opacity: 1;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

.square1 li {
    width: 50%;
}

.square2 li {
    width: 100%;
}

.section-portfolio {
    padding: 0;
}

.pessoasecores img {
    height: 450px;
}

/*--------------------------------------------------------------------------------------------*/
/* PESSOAS E CORES */
/*--------------------------------------------------------------------------------------------*/

.pessoasecores .long-copy {
    font-size: 120%;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 40px;
}

.pessoasecores h3,
.pessoasecores p {
    margin-bottom: 0px;
    text-align: center;
}

.pessoasecores h3 {
    font-size: 160%;
    padding-bottom: 40px;
    padding-top: 0px;
}

.pessoasecores a:visited,
.pessoasecores a:link {
    text-decoration: none;
    color: #FF006E;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.pessoasecores a:hover,
.pessoasecores a:active {
    color: #bb0051
}

/*--------------------------------------------------------------------------------------------*/
/* STEPS */
/*--------------------------------------------------------------------------------------------*/

.section-steps {
    background-color: #f4f4f4;
}

.steps-box:first-child {
    text-align: right;
    padding: 3%;
    margin-top: 30px;
}

.steps-box:last-child {
    padding-left: 3%;
    margin-top: 100px;
}

.chat {
    width: 60%;
}

.steps {
    margin-bottom: 50px;
}

.steps div {
    color: #FF006E;
    border: 2px solid #FF006E;
    display: inline-block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}

.section-steps .steps-box a:visited,
.section-steps .steps-box a:link {
    text-decoration: none;
    color: #FF006E;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.section-steps .steps-box a:hover,
.section-steps .steps-box a:active {
    color: #bb0051
}

/*--------------------------------------------------------------------------------------------*/
/* ARTIST */
/*--------------------------------------------------------------------------------------------*/

.section-artist img {
    height: 300px;
    border-radius: 50%;
    margin-right: 60px;  
    vertical-align: middle;
    float: left;
    margin-bottom: 80px;
    margin-left: 40px;
}

.section-artist h2 {
    display: inline-block;
    float: left;
}

.section-artist h2:after {
    width: 0;
}

.section-artist h2 {
    display: block;
    text-align: left;
    padding-top: 120px;
}

/*--------------------------------------------------------------------------------------------*/
/* LOCATION */
/*--------------------------------------------------------------------------------------------*/

.section-location {
    background-color: #f4f4f4;
}

 .map {
    padding-left: 2%;
    margin-top: 50px;
    height: 400px; 
    width: 50%;
}

.location-box:first-child {
    padding-right: 6%;
    margin-top: 130px;
    text-align: right;
}

.location {
    margin-bottom: 50px;
}

.location ion-icon {
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 5px;
    float: right;
    font-size: 150%;
    margin-left: 25px;
    margin-bottom: 0;
}

.p1 {
    padding-top: 20px;
}

.p2 {
    padding-top: 20px;
}

.p3 {
    padding-top: 7px;
}

/*--------------------------------------------------------------------------------------------*/
/* STATEMENTS */
/*--------------------------------------------------------------------------------------------*/

.section-statements {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.60)), to(rgba(0, 0, 0, 0.60))), url(img/DSC_4501.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(img/DSC_4501.jpg);
    background-size: cover;
    background-position: center;
    height: 110vh;
    color: #fff;
    font-weight: 300;
}

.section-statements h2 {
    color: #ebebeb;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 20px;
    font-size: 85%;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img {
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

/*--------------------------------------------------------------------------------------------*/
/* CONTACT */
/*--------------------------------------------------------------------------------------------*/

.contact-box:first-child {
    text-align: right;
    padding-right: 3%;
}

.cell {
    width: 150px;
    padding-top: 15px;
}

.contact-box:last-child {
    padding-left: 3%;
    margin-top: 70px;
}

.contact {
    margin-bottom: 50px;
}

.contact ion-icon {
    color: #555;
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
    margin-bottom: 0;
}

.section-contact a {
    display: inline-block;
    padding-top: 15px;
}

.section-contact a:visited,
.section-contact a:link {
    text-decoration: none;
    color: #555;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.section-contact a:hover,
.section-contact a:active {
    color: #FF006E;
}

/*--------------------------------------------------------------------------------------------*/
/* FOOTER */
/*--------------------------------------------------------------------------------------------*/

footer {
    background-color: #2c2b2b;
    color: #959595;
    padding-top: 25px;
}

.footer-nav {
    list-style: none;
    float: left;
}

.footer-box {
    vertical-align: middle;
}

.social-link-1 {
    float: left;
    margin-right: 20px;
}

.social-link-2 {
    float: left;
    margin-right: 20px;
}

.social-link-3 {
    float: left;
    margin-right: 20px;
}

.social-link-4 {
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.social-links ion-icon {
    color:  #c4c4c4;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    margin-bottom: 0;
    font-size: 25px;
}

.footer-nav li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li a {
    text-decoration: none;
    float: left;
    font-size: 15px;
    color: #959595;
}

.footer-nav li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited {
    text-decoration: none;
    border: 0;
    color: #959595;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    text-decoration: none;
    border: 0;
    color: #c4c4c4;
}

.social-link-1 ion-icon:hover,
.social-link-1 ion-icon:active {
    color: #c32aa3;
}

.social-link-2 ion-icon:hover,
.social-link-2 ion-icon:active {
    color: #4285f4;
}

.social-link-3 ion-icon:hover,
.social-link-3 ion-icon:active {
    color: #bd081c;
}

.social-link-4 ion-icon:hover,
.social-link-4 ion-icon:active {
    color: #25d366;
}

.final-words p ,
.web-design p {
    text-align: center;
}

.final1 {
    font-weight: 300;
    font-size: 110%;
    color: #FF006E;
    padding-bottom: 15px;
}

.final2 {
    font-weight: 200;
    color: #c4c4c4;
    padding-bottom: 8px;
}

.final3 {
    font-weight: 300;
    font-size: 90%;
    padding-bottom: 45px;
}

.web-design {
    background-color: #FF006E;
    padding-top: 10px;
    padding-bottom: 10px;
}

.web-design p {
    font-size: 85%;
    font-weight: 300;
    color: #2c2b2b;
}

/*--------------------------------------------------------------------------------------------*/
/* ANIMATIONS */
/*--------------------------------------------------------------------------------------------*/

.js--wp-1,
.js--wp-3,
.js--wp-4 {
    opacity: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.js--wp-2 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-3.animated,
.js--wp-4.animated {
    opacity: 1;
}